# My own personal environment variables. You should edit these
# then rename the files without ".sample"
export CODE_BASE_DIR="$HOME/projects/vagrant-apache/istock-src"
export ZF_BASE_DIR="$HOME/projects/vagrant-apache/istock-src/ZF"
export LEGACY_BASE_DIR="$HOME/projects/vagrant-apache/istock-src/legacy"
export ANGULAR_DIR="$ZF_BASE_DIR/public/js/angular"
export APPLICATION_DIR="$ZF_BASE_DIR/application"
export CONTROLLERS_DIR="$APPLICATION_DIR/controllers"
export WEBSITE_DIR="$APPLICATION_DIR/library/website"
export MODULES_DIR="$APPLICATION_DIR/modules"
export ISTOCK_DIR="$ZF_BASE_DIR/library/istock"
export UNITTEST_DIR="$ZF_BASE_DIR/unittest"
export UNITTEST_WEBSITE_DIR="$UNITTEST_WEBSITE_DIR/Website"
export UNITTEST_ISTOCK_DIR="$UNITTEST_WEBSITE_DIR/Istock"
